.layout {
  width: 100vw;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.btnWine {
  display: inline-block;
  position: relative;
  border: 3px solid rgb(134, 31, 48);
  margin-top: 2rem;
  color: white;
  background-color: rgb(134, 31, 48);
  padding: 0.7rem 1rem;
  width: 25rem;
  border-radius: 10px;
  font-weight: 700;
}
.btnWine:hover {
  border: 3px solid rgb(230, 162, 184);
}
.btnWine:hover:before {
  content: "🍇";
  font-size: 2rem;
  position: absolute;
  top: 0px;
  left: 10px;
}

.btnWine:hover:after {
  content: "🍷";
  font-size: 2rem;
  position: absolute;
  top: 0px;
  right: 10px;
}

.btnBeer {
  display: inline-block;
  position: relative;
  border: 3px solid rgb(206, 209, 29);
  margin-top: 2rem;
  color: black;
  background-color: rgb(206, 209, 29);
  padding: 0.7rem 1rem;
  width: 25rem;
  border-radius: 10px;
  font-weight: 700;
}

.btnBeer:hover {
  border: 3px solid rgb(236, 240, 7);
}
.btnBeer:hover:before {
  content: "🍺";
  font-size: 2rem;
  position: absolute;
  top: 0px;
  left: 10px;
}

.btnBeer:hover:after {
  content: "🌾";
  font-size: 2rem;
  position: absolute;
  top: 0px;
  right: 10px;
}
.img {
  border-radius: 10px;
}
